The goal of this notebook is to develop data cleaning methods.

In [16]:
import pandas as pd
import re

In [4]:
train_data = pd.read_csv("../data/train_text_with_pii_2018_12_29_07_26_56_266227.csv")
test_data = pd.read_csv("../data/test_text_with_pii_2018_12_29_07_26_58_843238.csv")

In [3]:
train_data.head()

,Text,Labels,PII
0,Return never place become nearly movement. No ...,Address,"9479 Ward Creek Suite 474 Warnershire, NH 08434"
1,Quality recently seek Suite 937 goal relations...,Address,Suite 937
2,Word expert reveal effect response forward. In...,Address,Apt. 925
3,Son specific think. Conference its home expert...,Address,"15286 Ramirez Lakes Apt. 147 West Anthony, FL ..."
4,Control trouble Apt. 223 keep action rule. Sol...,Address,Apt. 223

In [90]:
train_data['Labels'].value_counts()

Name                100000
SSN                 100000
Address             100000
None                100000
Email               100000
Plates              100000
Phone_number        100000
CreditCardNumber    100000
Name: Labels, dtype: int64

In [98]:
example = train_data["Text"].loc[train_data.Labels == "SSN"].iloc[0:100]

In [99]:
def clean_text(text):
    # replace  . and a space with only a space, then amke all words lower case.
    text = text.replace(". "," ").replace(",","").lower()
    # get rid of the . at the end of each line. 
    cleaned_text = re.sub("\.$","",text)
    
    return cleaned_text

In [127]:
def extract_special_len(text):
    # the complete special char list
    all_special_char = '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
    # return the special char if it is in the text
    special_list = [special_char for special_char in all_special_char\
                   if special_char in text]
    
    return len(special_list)   


def extract_special_char(text):
    # the complete special char list
    all_special_char = '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
    # return the special char if it is in the text
    special_list = [special_char for special_char in all_special_char\
                   if special_char in text]
    
    return special_list

In [128]:
train_data["Cleaned_text"] = train_data["Text"].apply(clean_text)

In [129]:
train_data['Special_char_num'] = train_data["Cleaned_text"].apply(extract_special_len)

In [130]:
train_data['Special_chars'] = train_data["Cleaned_text"].apply(extract_special_char)

In [131]:
train_data.groupby("Labels").agg({'Special_char_num':["min","max","mean",'median']})

                 Special_char_num
                              min max     mean median
Labels
Address                         0   0  0.00000      0
CreditCardNumber                0   0  0.00000      0
Email                           2   3  2.16875      2
Name                            0   0  0.00000      0
None                            0   0  0.00000      0
Phone_number                    0   3  1.48627      1
Plates                          0   1  0.28694      0
SSN                             0   1  0.60662      1